---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
import TempData from "./Data/top-blogs.json"
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="topblogs">
    <Topic
      title="BOSC Blogs"
      description="Read the latest blogs from our community members and stay updated with the latest trends in the tech industry."
    />
  </div>
  <div class="flex-row items-center py-5 hidden md:block">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">
      <!-- edit events.json to replace its image and also map only first 6 items from events.json -->
      {
        TempData.map(({ background, name1, name2, arrow, link, image }) => (
          <div class={background}>
            <div class="flex-col justify-center items-start gap-[93px] inline-flex">
              <div class="flex-col justify-start items-start flex">
                <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                  <div class=" text-3xl font-medium">{name1}</div>
                </div>
                <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                  <div class="text-3xl font-medium">{name2}</div>
                </div>
              </div>
              <a
                class="justify-start items-center gap-[15px] inline-flex"
                href={link}
              >
                <div class="w-[41px] h-[41px] relative">
                  <img
                    class="w-[41px] h-[41px] left-0 top-0 absolute"
                    src={arrow}
                  />
                </div>
                <div class="text-xl font-normal leading-7">Learn more</div>
              </a>
            </div>
            <div class="w-[210px] h-[170px] pt-0.5 pb-[1.95px] justify-center items-center flex">
              <img class="hidden md:block" src={image} />
            </div>
          </div>
        ))
      }
      <!-- card end-->
    </div>
  </div>
  <div class="w-full justify-center md:justify-end inline-flex">
    <a
      class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex"
      rel="noopener noreferrer"
      href="/blogs#articles"
    >
      <h2 class="text-center text-xl font-normal leading-7">
        Read Blog Articles
      </h2>
    </a>
  </div>
</Container>
