---
import Container from "../../components/Container.astro"
import Layout from "../../layouts/Layout.astro"
// import articlesData from "../../components//Data/articles.json"
import eventsData from "../../components/Data/events.json"

export async function getStaticPaths() {
  return eventsData.map(
    ({
      id,
      type,
      featured,
      name_1,
      name_2,
      desc,
      year,
      date,
      time,
      venue,
      organizer,
      partners,
      mentors,
      guests,
      cover_photo,
      background,
      links,
      images,
      stats,
    }) => {
      return {
        params: { id },
        props: {
          id,
          type,
          featured,
          name_1,
          name_2,
          desc,
          year,
          date,
          time,
          venue,
          organizer,
          partners,
          mentors,
          guests,
          cover_photo,
          background,
          links,
          images,
          stats,
        },
      }
    }
  )
}
const {
  id,
  type,
  featured,
  name_1,
  name_2,
  desc,
  year,
  date,
  time,
  venue,
  organizer,
  partners,
  mentors,
  guests,
  cover_photo,
  background,
  links,
  images,
  stats,
} = Astro.props
export const prerender = true
---

<Layout title="Welcome to My site">
  <main class="space-y-40 mb-40 pt-24">
    <Container>
      <section class="bg-white">
        <div
          class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
        >
          <div class="font-light text-gray-500 sm:text-lg">
            <h2
              class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900"
            >
              {name_1}
              {name_2}
              <br />
              {year}
              <br />
              {venue}
              <br />
              {time}
            </h2>
            <p class="mb-4">{desc}</p>
            <div class="flex justify-between items-center mt-6">
              <div class="flex items-center space-x-4">
                <img
                  class="w-7 h-7 rounded-full"
                  src={cover_photo}
                  alt={"cover"}
                />

                {
                  organizer.map((name) => (
                    <span class="font-medium">{name}</span>
                  ))
                }
                {
                  partners.map((name) => (
                    <span class="font-medium">{name}</span>
                  ))
                }
              </div>
              <span class="text-sm">{date}</span>
            </div>
            <div class="">
              <div class="flex items center space-x-4">
                Mentors:
                {
                  mentors.map((mentor) => (
                    <span class="font-medium">{mentor.name}</span>
                    <img class="w-10 h-10 rounded-full" src={mentor.image} alt="" />
                    <span class="font-medium">{mentor.designation}</span>
                    <span class="font-medium">{mentor.tag}</span>
                    <a href={mentor.connect} target="_blank" rel="noopener noreferrer">Connect</a>
                    <br />
                  ))
                }
              </div>
              <div class="space-x-4">
                Guests:
                {
                  guests.map((guest) => (
                    <span class="font-medium">{guest.name}</span>
                    <img class="w-10 h-10 rounded-full" src={guest.image} alt="" />
                    <span class="font-medium">{guest.designation}</span>
                    <span class="font-medium">{guest.tag}</span>
                    <a href={guest.connect} target="_blank" rel="noopener noreferrer">Connect</a>
                    <br />
                  ))
                }
              </div>

              <span class="text-sm"
                >Certificate: {
                  stats.certificate ? "Provided" : "Not Provided"
                }</span
              >
              <br />
              <span class="text-sm">Entry Fee: {stats.entry_fee}</span>
              <br />
              <span class="text-sm">Participants: {stats.participants}</span>
              <br />
              <span class="text-sm"
                >Prize: {stats.prize ? "SWAGs Givens" : "No Prizes"}</span
              >
              <br />
              <span class="text-sm">Time: {stats.time}</span>
              <br />

              <a target="_blank" href={links.blog}>Blog Link</a>
              <br />
              <a target="_blank" href={links.registration}>
                Registration Link</a
              >
              <br />
              <a target="_blank" href={links.social}>Social Media Post Link</a>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-8">
              {
                images.map((link) => (
                  <img class="rounded-2xl" src={link} alt="cover" />
                ))
              }
            </div>
          </div>
        </div>
      </section>
    </Container>
  </main>
</Layout>
