---
import Container from "../../components/Container.astro"
import Layout from "../../layouts/Layout.astro"
import eventsData from "../../components/Data/events.json"
import { formatDate } from "../../utils/utils"
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"

// export async function getStaticPaths() {
//   const blogEntries = await getCollection("blog")
//   return blogEntries.map((entry: any) => ({
//     params: { slug: entry.slug },
//     props: { entry },
//   }))
// }

// const { entry } = Astro.props as { entry: CollectionEntry<"blog"> }

// const { Content } = await entry.render()

export async function getStaticPaths() {
  // const eventsBlogs = await getCollection("events_blog")
  return eventsData.map(
    ({
      id,
      type,
      featured,
      name_1,
      name_2,
      desc,
      year,
      date,
      time,
      venue,
      organizer,
      partners,
      mentors,
      guests,
      cover_photo,
      background,
      links,
      images,
      stats,
    }) => {
      return {
        params: { id },
        props: {
          id,
          type,
          featured,
          name_1,
          name_2,
          desc,
          year,
          date,
          time,
          venue,
          organizer,
          partners,
          mentors,
          guests,
          cover_photo,
          background,
          links,
          images,
          stats,
        },
      }
    }
  )
}
const {
  id,
  type,
  featured,
  name_1,
  name_2,
  desc,
  year,
  date,
  time,
  venue,
  organizer,
  partners,
  mentors,
  guests,
  cover_photo,
  background,
  links,
  images,
  stats,
} = Astro.props
export const prerender = true
---

<Layout
  title={name_1}
  description={desc}
  image={cover_photo}
  url={"https://bosc.org.np/blogs/" + id}
>
  <main class="space-y-20 mb-20 pt-12">
    <Container>
      <section class="bg-white">
        <div class="font-light text-gray-500 sm:text-lg">
          <a
            href="/blogs#events"
            class="inline-flex items-center font-medium text-black hover:text-lime my-4"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 16l-4-4m0 0l4-4m-4 4h18"
              >
              </path>
            </svg>
            <span class="ml-1 font-bold text-lg">All Events</span>
          </a>
        </div>
        <div
          class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
        >
          <div class="mb-4">
            <div class="justify-items-center">
              <img
                src={cover_photo === ""
                  ? "/services/Illustration.svg"
                  : cover_photo}
                alt="cover photo"
                class="rounded-2xl w-96"
              />
            </div>
          </div>
          <div
            class="font-normal text-gray-500 flex-col justify-start items-start flex"
          >
            <span class="mb-2 text-xl flex w-full justify-start">
              <span class="font-medium"
                >{"📌 " + formatDate(new Date(date))}</span
              >
            </span>
            <span
              class="mb-4 text-5xl tracking-tight font-extrabold text-gray-900"
            >
              {name_1}
              {" "}
              {name_2}
              <br />
            </span>
            <p class="font-light text-gray-500 sm:text-lg mb-4">
              {
                (stats.prize || stats.certificate || stats.entry_fee === 0) && (
                  <span>
                    {stats.prize && (
                      <span class="bg-zinc-800 text-lime text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                        Prizes
                      </span>
                    )}
                    {stats.certificate && (
                      <span class="bg-zinc-800 text-lime text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                        Certificate
                      </span>
                    )}
                    {stats.entry_fee === 0 && (
                      <span class="bg-zinc-800 text-lime text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                        Free Entry
                      </span>
                    )}
                  </span>
                )
              }
            </p>
            {/* <!-- Organizer --> */}
            <span class="mb-2 text-2xl font-medium">
              Organized by {" "}
              {
                organizer.map((name, i) => (
                  <span class="font-medium">
                    {name === "BOSC" ? (
                      <img
                        src="/logo-only.png"
                        alt="birendra-open-source-club-logo"
                        class="w-[70px] inline-flex"
                      />
                    ) : (
                      name
                    )}
                    {organizer.length === i + 1 ? "" : "🤝"}
                  </span>
                ))
              }
            </span>

            {/* <!-- Time --> */}
            <span class="mb-2 text-2xl">
              <span class="font-medium">{venue}</span>
              <span class="font-medium">
                {time === "00:00 AM" || time === "" ? stats.time : time}
              </span>
            </span>
            <!-- Partners -->
            {
              partners.length > 0 && (
                <span class="mb-2 text-2xl">
                  Partnered with:{" "}
                  {partners.map((name, i) => (
                    <span class="bg-lime text-black text-xl font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                      {name}
                      {partners.length === i + 1 ? "" : "🤝"}
                    </span>
                  ))}
                </span>
              )
            }
            {/* <!-- Entry Fee --> */}
            {
              stats.entry_fee !== 0 && (
                <span class="mb-2 text-2xl">
                  Entry Fee: <span class="font-medium">{stats.entry_fee}</span>
                </span>
              )
            }

            <button
              class="justify-start items-center gap-[15px] inline-flex"
              id="share"
            >
              <div class="text-2xl font-normal leading-7">Share</div>
              <div class="w-[41px] h-[41px] relative">
                <img class="w-[41px] h-[41px]" src="/share.png" />
              </div>
            </button>
          </div>
        </div>
        <div
          class="font-normal text-gray-500 flex-col justify-center items-center text-center flex w-full"
        >
          <p class="m-4 text-xl">{desc}</p>
        </div>
        <div
          class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
        >
          <div class="">
            {
              mentors && mentors.length > 0 && (
                <div class="">
                  Mentors
                  {mentors.map((mentor) => (
                    <div class="flex items-center space-x-4 mb-2">
                      <div>
                        <img
                          class="w-10 h-10 rounded-full"
                          src={mentor.image}
                          alt="mentor image"
                        />
                      </div>
                      <div class="flex flex-col">
                        <a
                          href={mentor.connect}
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <span class="font-medium bg-zinc-800 text-lime inline-flex items-center px-2.5 py-0.5 rounded hover:bg-lime hover:text-black">
                            {mentor.name}
                          </span>
                          {" 🗿"}
                          <span class="font-medium">{mentor.tag}</span>
                        </a>
                        <span class="font-medium">{mentor.designation}</span>
                      </div>
                    </div>
                  ))}
                </div>
              )
            }
            {
              guests && guests.length > 0 && (
                <div class="">
                  Guests{" "}
                  {guests.map((guest) => (
                    <div class="flex items-center space-x-4 mb-2">
                      <div>
                        <img
                          class="w-10 h-10 rounded-full"
                          src={guest.image}
                          alt="guest image"
                        />
                      </div>
                      <div class="flex flex-col">
                        <a
                          href={guest.connect}
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <span class="font-medium bg-zinc-800 text-lime inline-flex items-center px-2.5 py-0.5 rounded hover:bg-lime hover:text-black">
                            {guest.name}
                          </span>
                          {" 🗿"}
                          <span class="font-medium">{guest.tag}</span>
                        </a>
                        <span class="font-medium">{guest.designation}</span>
                      </div>
                    </div>
                  ))}
                </div>
              )
            }

            <div class="flex flex-col mb-4 mt-4">
              Additional Details
              <span class="text-m font-medium"
                >Participants: {stats.participants}</span
              >
              <span class="text-m font-medium">Event Time: {stats.time}</span>
            </div>
            <a
              href={links.registration === ""
                ? links.social
                : links.registration}
              target="_blank"
              class="px-5 py-1.5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-xl justify-center items-center inline-flex"
            >
              <div class="text-xl font-normal leading-7">Participate</div>
            </a>
          </div>
          <div class="mb-4">
            <div class="grid grid-cols-2 gap-4 mt-8">
              {
                images.map((link) => (
                  <img class="rounded-2xl" src={link} alt={"src " + link} />
                ))
              }
            </div>
          </div>
        </div>
      </section>
    </Container>
  </main>
</Layout>

<script>
  import { NotifySuccess } from "../../utils/notify"
  const shareBtn = document.getElementById("share") as HTMLButtonElement
  shareBtn.addEventListener("click", () => {
    navigator.clipboard.writeText(window.location.href)
    NotifySuccess("Link copied to clipboard")
  })
</script>
