---
import VideoIcon from "./../Icons/VideoIcon.astro"
import eventsData from "../../components/Data/events.json"
import BoscIcon from "./../Icons/BoscIcon.astro"

const upcomingE = eventsData[0]
const upcomingEImage =
  upcomingE.cover_photo === ""
    ? "/services/Illustration.svg"
    : upcomingE.cover_photo
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
  <div class="justify-center items-center gap-[275px] flex">
    <div
      class="flex-col justify-start items-start gap-[16px] inline-flex text-black"
    >
      <span>
        <span
          class="bg-lime text-black text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded"
        >
          <VideoIcon />
          <strong>Upcoming Event</strong></span
        >
        <span
          class="bg-zinc-200 text-black text-xs font-medium inline-flex items-center px-2.5 py-0.5"
          >{upcomingE.date + " "}📌
        </span>
      </span>

      <div class="flex-row justify-start items-start gap-[3px] flex">
        <div class="text-lg font-medium">
          {upcomingE.name_1}
          {upcomingE.name_2}
        </div>
        <!-- important attraction at right side of title -->
        {
          (upcomingE.stats.prize ||
            upcomingE.stats.certificate ||
            upcomingE.stats.entry_fee === 0) && (
            <span>
              {upcomingE.stats.prize && (
                <span class="bg-lime text-black text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                  Prizes
                </span>
              )}
              {upcomingE.stats.certificate && (
                <span class="bg-lime text-black text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                  Certificate
                </span>
              )}
              {upcomingE.stats.entry_fee === 0 && (
                <span class="bg-lime text-black text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                  Free Entry
                </span>
              )}
            </span>
          )
        }
      </div>

      <div
        class="font-normal text-gray-500 flex-col justify-start items-start flex"
      >
        <!-- Organizer -->
        <span>
          Organizer: {
            upcomingE.organizer.map((name, i) => (
              <span class="font-medium">
                {name === "BOSC" ? <BoscIcon /> : name}
                {upcomingE.organizer.length === i + 1 ? "" : "🤝"}
              </span>
            ))
          }
        </span>
        <!-- Partners -->
        {
          upcomingE.partners.length > 0 && (
            <span>
              Partners:
              {upcomingE.partners.map((name, i) => (
                <span class="font-medium">
                  {name}
                  {upcomingE.partners.length === i + 1 ? "" : "🤝"}
                </span>
              ))}
            </span>
          )
        }
        <!-- Mentors -->
        {
          upcomingE.mentors.length > 0 && (
            <span>
              Mentors:{" "}
              {upcomingE.mentors.map((mentor) => (
                <>
                  <a
                    class="font-medium border-b border-dashed border-zinc-800"
                    href={mentor.connect}
                    target="_blank"
                  >
                    {mentor.name}
                  </a>
                  {" 🗿"}
                </>
              ))}
            </span>
          )
        }
        <!-- Guests -->
        {
          upcomingE.guests.length > 0 && (
            <spa>
              Guests:{" "}
              {upcomingE.guests.map((guest, i) => (
                <>
                  <a
                    class="font-medium border-b border-dashed border-zinc-800"
                    href={guest.connect}
                    target="_blank"
                  >
                    {guest.name}
                  </a>
                  {"🎙️"}
                </>
              ))}
            </spa>
          )
        }
        <!-- Time -->
        <span>
          Time: <span class="font-medium"
            >{
              upcomingE.time === "00:00 AM"
                ? upcomingE.stats.time
                : upcomingE.time
            }</span
          >
        </span>
        <!-- Venue -->
        <span>
          Venue: <span class="font-medium">{upcomingE.venue}</span>
        </span>
        <!-- Entry Fee -->
        {
          upcomingE.stats.entry_fee !== 0 && (
            <span>
              Entry Fee:{" "}
              <span class="font-medium">{upcomingE.stats.entry_fee}</span>
            </span>
          )
        }
        <button
          class="justify-start items-center gap-[10px] inline-flex"
          id="share2"
          data-link={upcomingE.links.blog}
        >
          <div class="font-medium leading-7">Share</div>
          <div class="w-[21px] h-[21px] relative">
            <img class="w-[21px] h-[21px]" src="/share.png" />
          </div>
        </button>
      </div>

      <div class="flex gap-4">
        <a
          href={upcomingE.links.registration === ""
            ? upcomingE.links.social
            : upcomingE.links.registration}
          class="px-5 py-1.5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-xl justify-center items-center inline-flex"
        >
          <div class="text-xl font-normal leading-7">Participate</div>
        </a>
        <a
          class="justify-start items-center gap-[15px] inline-flex"
          href={upcomingE.links.blog}
        >
          <div class="text-xl font-normal leading-7">Learn more</div>
          <div class="w-[41px] h-[41px] relative hidden sm:block">
            <img
              class="w-[41px] h-[41px] left-0 top-0 absolute"
              src="/services/aw.svg"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="hidden md:grid justify-items-center -m-15">
    <img src={upcomingEImage} width="50%" alt="cat" class="rounded-2xl" />
  </div>
</div>
<script>
  import { NotifySuccess } from "../../utils/notify"

  // Function to initialize the share button
  function initShareButton() {
    const shareBtn2 = document.getElementById("share2") as HTMLButtonElement
    if (shareBtn2) {
      shareBtn2.addEventListener("click", () => {
        const bloglink =
          window.location.href.replace(/\/+$/, "") +
          shareBtn2.getAttribute("data-link")
        navigator.clipboard.writeText(bloglink)
        NotifySuccess("Link copied to clipboard.")
      })
    }
  }

  document.addEventListener("astro:page-load", initShareButton)
</script>
